body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f9f7f3;
    color:#333;
    text-align:center;
}

header{
    background:#6b3e26;
    color:white;
    padding:40px;
}

.hero{
    background:#e9d8c8;
    padding:40px;
}

section{
    padding:30px;
}

.card{
    background:white;
    margin:15px auto;
    padding:20px;
    width:60%;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

footer{
    background:#6b3e26;
    color:white;
    padding:15px;
    margin-top:20px;
}
.heroimg{
width:80%;
max-width:700px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,0.2);
}

.gallery{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
}

.product{
background:white;
padding:15px;
border-radius:12px;
width:300px;
box-shadow:0 4px 12px rgba(0,0,0,0.15);
}

.product img{
width:100%;
border-radius:10px;
}

.product h3{
color:#6b3e26;
}
