body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f9f7f3;
    color:#333;
    text-align:center;
}

header{
    background:#6b3e26;
    color:white;
    padding:40px;
}

.hero{
    background:#e9d8c8;
    padding:40px;
}

section{
    padding:30px;
}

.card{
    background:white;
    margin:15px auto;
    padding:20px;
    width:60%;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

footer{
    background:#6b3e26;
    color:white;
    padding:15px;
    margin-top:20px;
}
